* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --var-font:"Cairo",sans-serif;
}


body {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.container {
    width: 400px;
    padding: 1.3rem 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-radius: 60px;
    backdrop-filter: blur(30px);
    background-color: #ffffff10;
    font-family: var(--var-font);
}

.container img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: contain;
}

.container .changeImgBtn {
    color: #fff;
    text-decoration: none;
    background-color: #3B9AE2;
    padding: 6px 6px;
    font-size: 13px;
    border-radius: 6px;
    cursor: pointer;
}

.container .in {
    display: flex;
    flex-direction: column;
    direction: rtl;
    width: 100%;
    height: auto;
}

.container .in p {
    font-size: 13px;
    color: #707070;
}

.container .in input {
    height: 60px;
    padding: 6px 12px;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #13111125;
    color: #fff;
}

.container .btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.container .btns button {
    width: 100px;
    height: 45px;
    border-radius: 6px;
    font-family: var(--var-font);
    border: none;
    outline: none;
    background-color: #1FE232;
    color: #fff;
    cursor: pointer;
}

.container .btns a {
    color: #3B9AE2;
}