{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الرئيسية</title>
    <link rel="stylesheet" href="{% static 'style/home.css' %}">
</head>
<body>
    
    {% for msg in messages %}
        <script>alert("{{msg}}")</script>
    {% endfor %}
    <img src="{% static 'images/bg.png' %}" alt="" class="bg">

    <form class="overlay" method="POST" action="{% url 'withdraw' %}">
        {% csrf_token %}
        <h1>ادخل المبلغ الذي تريد سحبة</h1>
        <p>يجب ان يكون أقل من {{c_user.balance}} EGP</p>
        <input type="text" placeholder="أدخل المبلغ هنا" name="amount" max="{{c_user.balance}}" min="10">
        <div class="btns">
            <button class="can" type="button">الغاء</button>
            <button class="wit" type="submit">طلب سحب</button>
        </div>
    </form>

    <div class="user">

        <div class="left">
            <img src="{{main_url}}{{c_user.picture}}" alt="">
            <p>{{c_user.full_name}}</p>
            <a href="{% url 'logout' %}" class="logout">تسجيل الخروج</a>
        </div>

        <form class="right" method="POST" action="{% url 'charge' %}">
            {% csrf_token %}
            <p>الرصيد الحالي</p>
            <h3>{{c_user.balance}} EGP</h3>
            <div class="in">
                <input type="number" min="100" placeholder="ادخل المبلغ لشحن رصيدك" name="amount">
                <button type="submit">شحن</button>
            </div>
            <button class="witdraw" id="witdrawBtn" type="button">اسحب فلوسك</button>
        </form>

    </div>

    <div class="create-gamia">
        <a href="{% url 'create_gamia' %}">انشاء جمعية</a>
    </div>
    
    <div class="all-gams">
        <h1>جمعياتك</h1>

        {% for i in list_data %}
            <div class="cont">
                <a href="{% url 'get_gamia' i.id %}">عرض</a>
                <div class="text">
                    <p>{{i.title}}</p>
                    {% if i.start_at %}
                        <p>{{i.start_at}} -> {{i.end_at}}</p>
                    {% else %}
                        <p>لم تبدأ بعد</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

    </div>

    <script>
        // view withdraw form
        var ViewBtn = document.getElementById('witdrawBtn');
        var overlay = document.querySelector('.overlay');
        var CancelBtn = overlay.querySelector('.btns .can');

        ViewBtn.addEventListener('click',()=>{
            overlay.classList.add('view');
        })
        
        CancelBtn.addEventListener('click',()=>{
            overlay.classList.remove('view');
        })


    </script>

</body>
</html>