{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>انشاء حساب</title>
    <link rel="stylesheet" href="{% static 'style/form.css' %}">
</head>
<body>
    {% for msg in messages %}
        <script>alert("{{msg}}")</script>
    {% endfor %}
    <img src="{% static 'images/bg.png' %}" class="bg" alt="">
    <form class="container" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <img src="{% static 'images/user.png' %}" id="imgView" alt="">
        <a href="#" class="changeImgBtn" id="imgBtn"> تغير الصورة</a>
        <input type="file" accept="image/*" id="ImgInput" name="picture" hidden>
        <div class="in">
            <p>اسمك بالكامل</p>
            <input type="text" name="full_name">
        </div>
        <div class="in">
            <p>رقم الهاتف الخاص بالمحفة الالكترونية</p>
            <input type="text" name="mobile_cash">
        </div>
        <div class="in">
            <p>البريد الالكتروني</p>
            <input type="email" name="email">
        </div>
        
        <div class="in">
            <p>كلمة المرور</p>
            <input type="password" name="password">
        </div>

        <div class="btns">
            <a href="{% url 'login' %}">تسجيل الدخول ؟</a>
            <button type="submit">تسجيل</button>
        </div>
    </form>

    <script>
        // add image script
        var imgBtn = document.getElementById('imgBtn');
        var imgView = document.getElementById('imgView');
        var imgInput = document.getElementById('ImgInput');

        imgBtn.addEventListener('click',()=>{imgInput.click()})
        imgInput.addEventListener('change',(e)=>{
            imgView.src = URL.createObjectURL(e.target.files[0])
        })

    </script>
</body>
</html>